<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link href="@{css/styles.css}" rel="stylesheet"/>
    <title>login</title>
</head>
<body>

     <p th:text="${msg}"></p>
       <form th:action="@{/login}" method="post">
           <p>
               <label for="username">Username</label>
               <input type="text" id="username" name="username"/>
           </p>
           <p>
               <label for="password">Password</label>
               <input type="password" id="password" name="password"/>
           </p>
           <button type="submit" class="btn">Login</button>
       </form>
           <br>
        <a th:href="@{/sys/mobilePage}">mobile 登录</a>
</body>
</html>